
<h2>Paciente</h2>

<p>
  <b>Nombre de Paciente:</b>
  <%= patient.patientname %>
</p>

<p>
  <b>Apellidos</b>
  <%= patient.lastname %>
</p>
<p>
  <b>Fecha de Nacimiento</b>
  <%= patient.birthdate %>
</p>
<p>
  <b>Teléfono Móvil</b>
  <%= patient.mobilephone %>
</p>
<p>
  <b>Teléfono Fijo</b>
  <%= patient.landlinephone %>
</p>
<p>
  <b>Dirección</b>
  <%= patient.address %>
</p>
<p>
  <b>Localidad</b>
  <%= patient.location %>
</p>
<p>
  <b>Provincia</b>
  <%= patient.province %>
</p>

<h3>Familiares:</h3>
<% for(var i in patient.Relatives) { %>
  <p><%= patient.Relatives[i].name %> <%= patient.Relatives[i].lastname %></p>
<% } %> 

<p>
  <a href="/patients/<%= patient.id %>/edit"> 
    <button type="button"> Editar </button>
  </a>  
  <a href="/patients/<%= patient.id %>?_method=DELETE"> 
    <button type="button"
            onClick="return confirm('Borrar cuenta: <%= patient.patientname %>');">
       Borrar 
    </button>
  </a>
</p>
<div id="contenedor">
    <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
    <label for="tab-1" class="tab-label-1">Datos Médicos</label>
   
    <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
    <label for="tab-2" class="tab-label-2">Personas de Contacto</label>
                           
    <div class="content">
        <div class="content-1">
          <% if (patient.MedicalDatum) { %> 
          <p>Alergias = <%= patient.MedicalDatum.alergias %></p>
          <p>Cardiopatías = <%= patient.MedicalDatum.cardiopatias %></p>
          <p>Problemas Cardiovasculares = <%= patient.MedicalDatum.cardiovasculares %></p>
          <p>Problemas Mentales = <%= patient.MedicalDatum.mentales %></p>
          <p>Grupo Sanguíneo = <%= patient.MedicalDatum.gruposanguineo %></p>
          <p>Medicación = <%= patient.MedicalDatum.medicacion %></p>
          <p>Otras Infecciones = <%= patient.MedicalDatum.otrasafecciones %></p>
          <p>Peso (kg) = <%= patient.MedicalDatum.peso %></p>
          <p>Invalidez o problemas de movilidad: = <%= patient.MedicalDatum.invalidez %></p>
          <p>
            <a href="/patients/<%= patient.id %>/medicaldata/edit"> 
              <button type="button"> Editar Datos </button>
            </a>
          </p>
          <% } else { %>
          <p>
            <a href="/patients/<%= patient.id %>/medicaldata/new"> 
              <button type="button"> Añadir nuevos Datos Médicos </button>
            </a>
          </p>      
          <% } %>
        </div>
        <div class="content-2">
            Contenido2
        </div>
    </div>
</div>

<a href="/patients"> 
   <button type="button">Volver</button>
</a>