
<h2>Paciente</h2>

<p>
  <b>Nombre de Paciente:</b>
  <%= patient.patientname %>
</p>

<p>
  <b>Apellidos</b>
  <%= patient.lastname %>
</p>
<p>
  <b>Fecha de Nacimiento</b>
  <%= patient.birthdate %>
</p>
<p>
  <b>Teléfono Móvil</b>
  <%= patient.mobilephone %>
</p>
<p>
  <b>Teléfono Fijo</b>
  <%= patient.landlinephone %>
</p>
<p>
  <b>Dirección</b>
  <%= patient.address %>
</p>
<p>
  <b>Localidad</b>
  <%= patient.location %>
</p>
<p>
  <b>Provincia</b>
  <%= patient.province %>
</p>

<p>
  <a href="/patients/<%= patient.id %>/edit"> 
    <button type="button"> Editar </button>
  </a>  
  <a href="/patients/<%= patient.id %>?_method=DELETE"> 
    <button type="button"
            onClick="return confirm('Borrar cuenta: <%= patient.patientname %>');">
       Borrar 
    </button>
  </a>
</p>
<div id="contenedor">
    <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
    <label for="tab-1" class="tab-label-1">Datos Médicos</label>
   
    <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
    <label for="tab-2" class="tab-label-2">Personas de Contacto</label>
                           
    <div class="content">
        <div class="content-1">
            
            
            <% if (patient.medicaldata !== undefined) { %> 
            Alergias = <%= patient.medicaldata.alergias %>
            <p>
            <a href="/patients/<%= patient.id %>/medicaldata/edit"> 
            <button type="button"> Editar Datos </button>
            </p>
            <% } else { %>
            <p>
            <a href="/patients/<%= patient.id %>/medicaldata/new"> 
            <button type="button"> Añadir nuevos Datos Médicos </button>
            </p>
            <% console.log(patient.medicaldata) %>
            <% console.log(patient.MedicalData) %>
            <% console.log(patient.MedicalDatum) %>
            <% console.log(patient) %>            
            <% } %>

            
            
  </a> 
        </div>
        <div class="content-2">
            <h3>Familiares:</h3>
<% for(var i in patient.Relatives) { %>
  <p>Nombre:<%= patient.Relatives[i].name %> </p>
  <p>Apellidos:<%= patient.Relatives[i].lastname %> </p>
  <p>Teléfono Móvil: <%= patient.Relatives[i].mobilephone %> </p>
  <p>Teléfono Fijo: <%= patient.Relatives[i].landlinephone %> </p>
<% } %> 
        </div>
    </div>
</div>

<a href="/patients"> 
   <button type="button">Volver</button>
</a>