<div> 
  <label for="preg" class="rem">Nombre: </label>
    <input type="text" id="name" name="name" value="<%= relative.name %>"/> 
    <label for="preg" class="rem">Apellidos: </label>
    <input type="text" id="lastname" name="lastname" value="<%= relative.lastname %>"/>
      <label for="preg" class="rem">Teléfono Móvil: </label>
    <input type="text" id="mobilephone" name="mobilephone" value="<%= relative.mobilephone %>"/>
      <label for="preg" class="rem">Teléfono Fijo: </label>
    <input type="text" id="landlinephone" name="landlinephone" value="<%= relative.landlinephone %>"/>
      <label for="preg" class="rem">Dirección: </label>
    <input type="text" id="address" name="address" value="<%= relative.address %>"/>
      <label for="preg" class="rem">Localidad: </label>
    <input type="text" id="location" name="location" value="<%= relative.location %>"/>
      <label for="preg" class="rem">Provincia: </label>
    <input type="text" id="province" name="province" value="<%= relative.province %>"/>
 </div>

 <div>
 <a href="/"><button type="button"> Cancelar</button></a>
 </div>
 <div>
 <input type="submit" value="Guardar">
 </div>