<h2> Familiares </h2>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% for (var i in relatives) { %>
      <tr>
         <td> <%= relatives[i].name %>  </td>
         <td> <%= relatives[i].lastname %> </td>
         <td> <a href="/relatives/<%= relatives[i].id %>" ><button type="button">Ver</button></a>
              <a href="/relatives/<%= relatives[i].id %>/edit"><button type="button">Editar</button></a>
              <a href="/relatives/<%= relatives[i].id %>?_method=DELETE" 
                 onClick="return confirm('Borrar cuenta: <%= relatives[i].name %>');" ><button type="button">
                 Borrar </button></a> 
         </td>
      </tr>
    <%  }; %>
  </tbody>
</table>

<footer>
  <nav> 
      <a href="/relatives/new" > <button type="button">
           añadir familiar
           </button>
      </a> 
  </nav>
</footer>