<div> 
<label for="alergias" class="rem">Alergias: </label>
  	<input type="text" id="alergias" name="alergias" value="<%= medicaldata.alergias %>"/> <p>
 </div>
 <div>
   <label for="cardiopatias" class="rem">Cardiopatías: </label>
   <input type="text" id="cardiopatias" name="cardiopatias" value="<%= medicaldata.cardiopatias %>" /> <p>
 </div>
 <div>
   <label for="cardiovasculares" class="rem">Problemas Cardiovasculares: </label>
   <input type="text" id="cardiovasculares" name="cardiovasculares" value="<%= medicaldata.cardiovasculares %>" /> <p>
 </div>
    <label for="mentales" class="rem">Problemas Mentales: </label>
   <input type="text" id="mentales" name="mentales" value="<%= medicaldata.mentales %>" /> <p>
 </div>
    <label for="gruposanguineo" class="rem">Grupo Sanguíneo: </label>
   <input type="text" id="gruposanguineo" name="gruposanguineo" value="<%= medicaldata.gruposanguineo %>" /> <p>
 </div>
    <label for="medicacion" class="rem">Medicación: </label>
   <input type="text" id="medicacion" name="medicacion" value="<%= medicaldata.medicacion %>" /> <p>
 </div>
    <label for="otrasafecciones" class="rem">Otras Afecciones: </label>
   <input type="text" id="otrasafecciones" name="otrasafecciones" value="<%= medicaldata.otrasafecciones %>" /> <p>
 </div>
    <label for="peso" class="rem">Peso (Kg): </label>
   <input type="text" id="peso" name="peso" value="<%= medicaldata.peso %>" /> <p>
 </div>
  </div>
    <label for="invalidez" class="rem">Invalidez o problemas de movilidad: </label>
   <input type="text" id="invalidez" name="invalidez" value="<%= medicaldata.invalidez %>" /> <p>
 </div>
 <div>
 <a href="/"><button type="button"> Cancelar</button></a>
 </div>
 <div>
 <input type="submit" value="Guardar">
 </div>